
body{

    margin:0;
    padding:0;
    background-position: center; 
    background-repeat:no-repeat;
    background-size:40% 40% ;
    font-family:'Times New Roman', Times, serif ;/*apply a general one */
  }


.signup-form{
    width: 330px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background-color:rgba(255, 255, 255, 0.507);
    padding:3px;
    margin: auto;  /*it puts the page in the middle*/
    text-align:center;  

}
.signup-form h1{
    color:#1c8adb;
    margin-bottom: 15px;
}

.form-control{

    border-radius:20px ;
    padding:4px;
    margin:10px 0;
    width: 60%; 
    border:1px solid #999; /*make input field look transparent*/
}

.signup{
    color:white;
    background-color:#1c8bdbb0;
    border-radius: 15px;
    font-size: 14px;
    border:none;
    outline: none;
    margin:10px 0;
    padding:9px;
    
}
span{
    opacity: 0.7;
}

.col-11{
    padding: 13px;
}

